@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/abrilfatface/v12/zOL64pLDlL1D99S8g8PtiKchm-A.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}
body header {
  background: #0A0A0A;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 50px;
  /************************** Hamburger menu *********************/
  /***************** Hamburger menu END ********************************/
}
body header .logo {
  color: #f1f1f1;
  padding: 2% 0;
  font-family: 'Poppins', sans-serif;
  align-self: center;
  margin-left: 7%;
}
body header .hamburger {
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 50px;
  padding: 1px 10px 2px 15px;
  color: #fff;
  border: 0;
  font-size: 1.6em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}
body header .cross {
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1px 15px 0px 15px;
  color: #fff;
  border: 0;
  font-size: 3.5em;
  line-height: 65px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}
body header .menu {
  z-index: 1000000;
  font-weight: bold;
  font-size: 0.6em;
  width: 100%;
  background: #0A0A0A;
  position: absolute;
  text-align: center;
  font-size: 1em;
}
body header .menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}
body header .menu li {
  display: block;
  padding: 15px 0 15px 0;
  border-bottom: white 1px solid;
}
body header .menu li:hover {
  display: block;
  background: #ffffff;
  padding: 15px 0 15px 0;
  border-bottom: white 1px solid;
}
body header .menu ul li a {
  text-decoration: none;
  margin: 0px;
  color: white;
  font-size: 0.8rem;
}
body header .menu ul li a:hover {
  color: #000;
  text-decoration: none;
}
body header .menu a {
  text-decoration: none;
  color: white;
}
body header .menu a:hover {
  text-decoration: none;
  color: #78848A;
}
body .fade {
  opacity: 1;
}
body h1,
body h2,
body h3 {
  font-family: 'Abril Fatface', cursive;
  font-weight: 100;
  color: #0A0A0A;
}
body h4,
body h5 {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  color: #0A0A0A;
}
body a {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: #f1f1f1;
  letter-spacing: 2px;
}
body p,
body li {
  font-family: 'Poppins', sans-serif;
  list-style-type: none;
}
body footer {
  background: #0A0A0A;
  color: white;
  flex: 1;
  text-align: center;
  padding: 3% 0;
}
body footer h5 {
  color: white;
}
body footer ul li {
  display: inline;
  margin: 0 1%;
}
body footer .fab,
body footer .fas {
  font-size: 1.5rem;
  letter-spacing: 3px;
  padding: 4% 0;
}
body footer p {
  font-size: 0.7rem;
}
.homepage .hero {
  display: flex;
  padding: 7% 0;
  position: relative;
  background-image: url(images/hero-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 60vh;
  align-items: center;
}
.homepage .hero .hero-right {
  animation: fadein 0.7s ease;
  animation-fill-mode: both;
  margin: 5% auto;
  text-align: center;
  color: white;
}
.homepage .hero h1 {
  animation: fadeInRight 1.3s ease;
  animation-delay: 0.1s;
  color: white;
  font-size: 2rem;
  padding-bottom: 2%;
}
.homepage .hero p {
  font-family: 'Poppins', sans-serif;
}
.homepage #about {
  margin: 0 auto;
  width: 90%;
  padding: 2% 0;
  text-align: center;
}
.homepage #about img.front {
  border-radius: 50%;
  padding: 2% 0;
}
.homepage #about p {
  margin: 0 auto;
  line-height: 2;
}
.homepage #about h3 {
  padding: 2% 0;
}
.homepage #about ul {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  padding: 2% 0;
}
.homepage #about li {
  margin: 0 2%;
}
.homepage .portfolio {
  color: #f1f1f1;
  padding: 2%;
  text-align: center;
  margin-bottom: 6%;
  height: 900px;
  /* Style the buttons */
  /* Add a grey background color on mouse-over */
  /* Add a dark background color to the active button */
}
.homepage .portfolio h2 {
  font-size: 2rem;
  letter-spacing: 1px;
}
.homepage .portfolio div#myBtnContainer {
  padding-top: 2%;
}
.homepage .portfolio .btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}
.homepage .portfolio .btn:hover {
  background-color: #e7e7e7;
}
.homepage .portfolio .btn.active {
  background-color: #78848A;
  color: white;
}
.homepage .portfolio .row {
  margin: 8px -16px;
  background: #0A0A0A;
  color: #f1f1f1;
  /* Add padding BETWEEN each column (if you want) */
  /* Create three equal columns that floats next to each other */
  /* Clear floats after rows */
  /* Content */
  /* The "show" class is added to the filtered elements */
}
.homepage .portfolio .row .row,
.homepage .portfolio .row .row > .column {
  padding: 8px;
}
.homepage .portfolio .row img {
  width: 100%;
}
.homepage .portfolio .row .column {
  float: left;
  width: 100%;
  display: none;
  /* Hide columns by default */
}
.homepage .portfolio .row .row:after {
  content: "";
  display: table;
  clear: both;
}
.homepage .portfolio .row .content {
  padding: 10px;
  background: white;
  color: #0A0A0A;
  margin: 3%;
  text-align: left;
  /* The Modal (background) */
  /* Modal Content/Box */
  /* The Close Button */
}
.homepage .portfolio .row .content .showModal {
  border: none;
  background: white;
  text-decoration: underline;
  font-size: 18px;
  cursor: pointer;
}
.homepage .portfolio .row .content .modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #000000;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
.homepage .portfolio .row .content .modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}
.homepage .portfolio .row .content .modal-content a {
  color: #0A0A0A;
  text-decoration: underline;
  margin-right: 2%;
}
.homepage .portfolio .row .content .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.homepage .portfolio .row .content .close:hover,
.homepage .portfolio .row .content .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.homepage .portfolio .row .show {
  display: block;
}
footer.footer-adjust {
  margin-top: 5%;
}
/*******************************

PROJECT STLYING

**********************************/
.project-page {
  line-height: 1.5;
  color: #0A0A0A;
}
.project-page .container {
  background: #f1f1f1;
  padding: 4% 0;
  margin-top: -10px;
}
.project-page .container .intro {
  padding: 2%;
}
.project-page .container .intro h1 {
  font-size: 2rem;
  width: 70%;
  line-height: 1;
}
.project-page .container .intro p {
  line-height: 2;
  font-size: 0.9rem;
  padding-top: 3%;
}
.project-page .container .services {
  font-size: 0.8rem;
  padding: 2%;
  line-height: 2;
  list-style-type: none;
}
.project-page .container .services h3 {
  font-family: 'Abril Fatface', cursive;
  font-weight: bolder;
  letter-spacing: 2px;
  padding-top: 3%;
}
.project-page .display {
  text-align: center;
}
.project-page img {
  width: 100%;
}
.project-page .quote {
  padding: 5% 2%;
  text-align: center;
  width: 100%;
}
.project-page .quote h2 {
  font-size: 1.3rem;
}
.project-page .project-link {
  margin: 4% auto;
}
.project-page .project-link h4 {
  margin: 4% 0;
}
.project-page .project-link a:hover {
  transition: 0.5s ease-in;
}
.project-page .project-link a {
  background: #0A0A0A;
  color: #f1f1f1;
  padding: 1% 6%;
  margin: 2% 0;
}
@media (min-width: 500px) {
  .hamburger {
    right: 20px;
  }
}
@media (min-width: 700px) {
  body header .menu,
  body header .hamburger,
  body header .cross {
    display: none;
  }
  body header .logo {
    margin-left: 10%;
  }
  body header .menu-desktop {
    display: block;
    justify-self: end;
    align-self: center;
    margin-right: 27%;
    font-size: 0.8rem;
    text-transform: uppercase;
  }
  body header .menu-desktop ul {
    display: inline-flex;
  }
  body header .menu-desktop ul li {
    padding: 0 8%;
  }
  body header .menu-desktop ul li a:hover {
    text-decoration: underline;
    transition: 0.2s ease;
  }
  body header .menu-desktop ul li .resume {
    background: white;
    color: #0A0A0A;
  }
  body header .menu-desktop ul li .resume:hover {
    background: #0A0A0A;
    border: 1px solid white;
    color: white;
    transition: 0.1s ease;
    text-decoration: none;
  }
}
@media (min-width: 750px) {
  .homepage .hero {
    min-height: 87vh;
    background-attachment: fixed;
  }
  .homepage .hero .hero-right {
    width: 55%;
  }
  .homepage .hero h1 {
    font-size: 3rem;
  }
  .homepage #about p {
    width: 60%;
  }
  .homepage #about h3 {
    padding: 2% 0;
  }
  .homepage .portfolio .row .column {
    width: 33.3333333%;
    height: 410px;
  }
  .project-page .container {
    display: flex;
    justify-content: center;
  }
  .project-page .container .intro {
    width: 60%;
  }
  .project-page .container .intro h1 {
    font-size: 3rem;
  }
  .project-page .container .services {
    padding: 5% 0 2% 5%;
    width: 40%;
  }
}
/*******************************

******************************/
@media (min-width: 900px) {
  h1 {
    font-size: 2.5rem;
    margin-left: 0;
  }
  .resume {
    padding: 3% 25%;
  }
}
@media (min-width: 1000px) {
  .project-page img {
    width: 100%;
  }
  .display .quote {
    width: 50%;
    margin: 0 auto;
  }
  .display img {
    width: 50%;
  }
  .project-page .container .services {
    width: 30%;
  }
  .project-link {
    width: 50%;
  }
}
@media (max-width: 400px) {
  .project-page .intro h1 {
    font-size: 2.5rem;
  }
  .project-page .intro {
    padding: 7%;
  }
}
@media (max-width: 700px) {
  .menu-desktop {
    display: none;
  }
}
@media (max-width: 1000px) {
  .return-home {
    margin-top: 10%;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
